@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="privacy" asp-page="./ChangePassword">Privacy</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrderItemNavClass(ViewContext)" id="order-item" asp-page="./OrderItem">Order Item</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PurchaseHistoryNavClass(ViewContext)" id="purchase-history" asp-page="./PurchaseHistory">Purchase History</a></li>
</ul>
