@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="home-testimonial">
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center testimonial-pos">
            <img src="~/img/backgrounds/background-1.jpg" alt="" class="p-0"/>
        </div>
        <div class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                <div class="link-position d-flex justify-content-center">Student</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                <div class="link-position d-flex justify-content-center">Student</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;At this School, our mission is to balance a rigorous comprehensive college preparatory curriculum with healthy social and emotional development.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                <div class="link-position d-flex justify-content-center">Student</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</section>
<section class="about-section container">
    <div class="sec-title">
        <span class="title">Our Future Goal</span>
        <h2>We want to lead in innovation & Technology</h2>
    </div>
    <div class="text">
        We work on UI/UX and functionality to create plugins with proper structure and stunning looks, fitting perfectly for your web apps and websites.
    </div>
    <div class="text">
        We take a small toolkit and optimize it for your use, ensuring it performs well and looks even better.
    </div>
    <div class="text">
        We provide all kinds of technical content, whether related to design or functionality, creating content in many languages and making it free of cost for everyone.
    </div>
    <div class="text">
        You can also share the content you create with us. If our technical team likes it, we will share it on our blog.
    </div>
    <div class="text">
        Keep visiting our website and enjoy the quality content.
    </div>
<section/>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Css3transition</span>
                        <h2>We are Creative Tech Enthusiast working since 2015</h2>
                    </div>
                    <div class="text">I am Rahul Yaduvanshi, working at Css3 Transition for the last 3 years. We provide top-notch solutions for your website or web application, creating useful plugins that make your website attractive and efficient.</div>
                    <div class="text">We offer next-level tutorials in web development, covering HTML, HTML5, CSS, CSS3, jQuery, JavaScript, and inspirational UI design layouts using Photoshop and Adobe Illustrator.</div>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Rahul Kumar Yadav</h2>
                        <span>Web Developer</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="~/img/products/laptop-microsoft.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>