@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="home-testimonial">
    <div class="container-fluid p-0">
        <div class="row d-flex justify-content-center testimonial-pos">
            <img src="~/img/backgrounds/background-1.jpg" alt="" class="p-0"/>
        </div>
        <div class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">
                                    &ldquo;With an MBA from Stanford University, Phat's expertise lies in building and scaling successful companies. His vision for the laptop center was born out of a desire to create a brand that not only delivers high-quality products but also emphasizes customer satisfaction and after-sales support.&rdquo;
                                </div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Tran Lam Phat</div>
                                <div class="link-position d-flex justify-content-center">Co-Founder & Chief Executive Officer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Emily Tran, a visionary in the tech industry, brings over 15 years of experience in hardware engineering and software development to the laptop center. Her passion for technology began at a young age, leading her to pursue a degree in Computer Engineering from MIT.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Emily Tran</div>
                                <div class="link-position d-flex justify-content-center">
                                    Co-Founder & Chief Technology Officer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">
                                    &ldquo;Sophia Le, with her extensive background in marketing and brand development, is the creative force behind the laptop center's market presence. Holding a degree in Marketing from the University of California, Berkeley, Sophia has a keen eye for trends and a deep understanding of consumer behavior.&rdquo;
                                </div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">
                                    Sophia Le
                                </div>
                                <div class="link-position d-flex justify-content-center">
                                    Co-Founder & Chief Marketing Officer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</section>
<section class="about-section container">
    <div class="sec-title">
        <span class="title">About our company</span>
        <h2>Our Future Goal</h2>
    </div>
    <div class="text">
        At Laptop Center, we are committed to providing a seamless blend of cutting-edge technology and exceptional customer service. Our mission is to offer an unparalleled shopping experience by delivering high-quality laptops that meet the diverse needs of professionals, students, and tech enthusiasts alike.
    </div>
    <div class="text">
        Founded in 2015, Laptop Center has grown from a small startup into a trusted leader in the laptop sales industry. Our team is made up of tech enthusiasts who are passionate about innovation, quality, and customer satisfaction. We strive to stay ahead of the curve by offering the latest models from top brands, as well as expert advice to help you choose the perfect laptop for your needs.
	</div>
    
    <section/>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                            <span class="title">
                                Our Commitment to Quality
                            </span>
                            <h2>
                                Customer-Centric Approach
                            </h2>
                    </div>
                        <div class="text">We understand that purchasing a laptop is a significant investment, and we are committed to ensuring that our customers receive only the highest quality products. Every laptop we sell undergoes rigorous testing to meet our strict standards for performance, durability, and reliability. Whether you’re looking for a high-performance gaming laptop or a sleek, lightweight model for everyday use, you can trust that our products are built to last.</div>
                        <div class="text">At Laptop Center, our customers are our top priority. We pride ourselves on providing exceptional customer service, from helping you choose the right laptop to offering ongoing support long after your purchase. Our knowledgeable team is always here to answer your questions, provide expert advice, and ensure that your shopping experience is smooth and hassle-free.</div>
                    
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <div class="author-desc">
                        <h2>Tran Lam Phat</h2>
                        <span>LapTop Center</span>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="~/img/products/laptop-microsoft.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>