@{
    ViewData["Title"] = "Product";
}

<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <h2 class="product-title">All <b>Products</b></h2>
            <div class="row">
                <div class="col-3">
                    <div class="product-card">
                        <div class="logo-cart">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <img src="https://fadzrinmadu.github.io/hosted-assets/animated-product-card-using-html-css-and-javascript/logo.jpg" alt="logo">
                                <i class='bx bx-shopping-bag'></i>
                            </a>

                        </div>
                        <a asp-controller="Home" asp-action="ProductDetail">
                            <div class="main-images">
                                <img id="blue" class="blue active" src="~/img/products/laptop-accer.png" alt="blue">
                            </div>
                        </a>

                        <div class="shoe-details">
                             <a asp-controller="Home" asp-action="ProductDetail">
                                <span class="shoe_name">ADDIDAS GAZE ZX</span>
                                <p>Lorem ipsum dolor sit lorenm i amet, consectetur adipisicing elit. Eum, ea, ducimus!</p>
                            </a>

                        </div>
                        <div class="color-price">
                            <div class="color-option">
                                <span class="color">Rate:</span>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$09.00</span>
                                <span class="price_letter">Nine dollar only</span>
                            </div>
                        </div>
                        <div class="button">
                            <div class="button-layer"></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-card">
                        <div class="logo-cart">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <img src="https://fadzrinmadu.github.io/hosted-assets/animated-product-card-using-html-css-and-javascript/logo.jpg" alt="logo">
                                <i class='bx bx-shopping-bag'></i>
                            </a>

                        </div>
                        <a asp-controller="Home" asp-action="ProductDetail">
                            <div class="main-images">
                                <img id="blue" class="blue active" src="~/img/products/laptop-accer.png" alt="blue">
                            </div>
                        </a>

                        <div class="shoe-details">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <span class="shoe_name">ADDIDAS GAZE ZX</span>
                                <p>Lorem ipsum dolor sit lorenm i amet, consectetur adipisicing elit. Eum, ea, ducimus!</p>
                            </a>

                        </div>
                        <div class="color-price">
                            <div class="color-option">
                                <span class="color">Rate:</span>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$09.00</span>
                                <span class="price_letter">Nine dollar only</span>
                            </div>
                        </div>
                        <div class="button">
                            <div class="button-layer"></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-card">
                        <div class="logo-cart">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <img src="https://fadzrinmadu.github.io/hosted-assets/animated-product-card-using-html-css-and-javascript/logo.jpg" alt="logo">
                                <i class='bx bx-shopping-bag'></i>
                            </a>

                        </div>
                        <a asp-controller="Home" asp-action="ProductDetail">
                            <div class="main-images">
                                <img id="blue" class="blue active" src="~/img/products/laptop-accer.png" alt="blue">
                            </div>
                        </a>

                        <div class="shoe-details">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <span class="shoe_name">ADDIDAS GAZE ZX</span>
                                <p>Lorem ipsum dolor sit lorenm i amet, consectetur adipisicing elit. Eum, ea, ducimus!</p>
                            </a>

                        </div>
                        <div class="color-price">
                            <div class="color-option">
                                <span class="color">Rate:</span>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$09.00</span>
                                <span class="price_letter">Nine dollar only</span>
                            </div>
                        </div>
                        <div class="button">
                            <div class="button-layer"></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-card">
                        <div class="logo-cart">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <img src="https://fadzrinmadu.github.io/hosted-assets/animated-product-card-using-html-css-and-javascript/logo.jpg" alt="logo">
                                <i class='bx bx-shopping-bag'></i>
                            </a>

                        </div>
                        <a asp-controller="Home" asp-action="ProductDetail">
                            <div class="main-images">
                                <img id="blue" class="blue active" src="~/img/products/laptop-accer.png" alt="blue">
                            </div>
                        </a>

                        <div class="shoe-details">
                            <a asp-controller="Home" asp-action="ProductDetail">
                                <span class="shoe_name">ADDIDAS GAZE ZX</span>
                                <p>Lorem ipsum dolor sit lorenm i amet, consectetur adipisicing elit. Eum, ea, ducimus!</p>
                            </a>

                        </div>
                        <div class="color-price">
                            <div class="color-option">
                                <span class="color">Rate:</span>
                                <div class="stars">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="price">
                                <span class="price_num">$09.00</span>
                                <span class="price_letter">Nine dollar only</span>
                            </div>
                        </div>
                        <div class="button">
                            <div class="button-layer"></div>
                            <button>Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

