@model LaptopCenter.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<div>
    <h1 class="text-center">Edit Category</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <input type="hidden" asp-for="CategoryId" />

                <div class="form-floating mb-3">
                    <input asp-for="CategoryName" class="form-control" placeholder="Category name" />
                    <label asp-for="CategoryName"></label>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
